---
import * as data from '@data/index.json';

import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import Links from '@components/Links.astro';
import Socials from '@components/Socials.astro';
---

<Layout title={data.name}>
  <main
    class='flex items-center flex-col justify-center h-screen m-auto p-6 max-w-5xl'
  >
    <Hero />
    <Links />
    <Socials />
    <footer class='flex items-center justify-center text-white mt-14'>
      made with <span class='text-red-500 px-2 text-2xl'>&hearts;</span> by <a
        href='https://github.com/jpaddeo'
        class='px-2'>@jpaddeo</a
      >
    </footer>
  </main>
</Layout>
