<footer class='flex items-center justify-center text-white mt-10'>
  made with <span class='text-red-500 px-2 text-2xl animate-pulse'>&hearts;</span> by <a
    href='https://github.com/jpaddeo'
    class='px-2'>@jpaddeo</a
  >
</footer>
