---
export interface Props {
  icon: string;
  url: string;
  name: string;
}

const { icon, url, name } = Astro.props;

import GitHub from '@components/icons/GitHub.astro';
import Linkedin from '@components/icons/Linkedin.astro';
import Twitter from '@components/icons/Twitter.astro';
import TikTok from '@components/icons/TikTok.astro';
import Email from '@components/icons/Email.astro';
---

<li
  class='list-none shadow-lg transition-all text-white h-12 w-12 hover:text-slate-900 hover:bg-slate-200 rounded-full p-2 hover:cursor-pointer'
>
  <a href={url} target='_blank' rel='noreferrer noopener'>
    {icon === 'github' && <GitHub />}
    {icon === 'linkedin' && <Linkedin />}
    {icon === 'twitter' && <Twitter />}
    {icon === 'tiktok' && <TikTok />}
    {icon === 'email' && <Email />}
  </a>
</li>
