---
export interface Props {
  title: string;
  description?: string;
}

const { title, description = 'Treelink de Juan Pablo Addeo' } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content={description} />
    <title>{title}</title>
  </head>
  <body class='bg-gradient-to-br from-slate-500 to-slate-900'>
    <slot />
  </body>
</html>
